@page
@model IndexModel
@{
    ViewData["Title"] = "Search Engine";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Search Engine</h1>
</div>

<form method="post" asp-page="Index">
    <div class="form-group">
        <input type="text" name="query" class="form-control" placeholder="Enter Search" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>